<!DOTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-3.3.1.js"        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<div class="container">
<body>
        <ul class="nav nav-tabs">
                <li role="presentation" ><a href="{% url 'home'%}">Home</a></li>
                <li role="presentation" class="active"><a href="{% url 'about'%}">About</a></li>
                
              </ul>
<h1>about</h1>
<p>멋쟁이 사자처럼 7기 백지연이 만든 작품입니다.</p>
<p>단어를 세주는 기능입니다.</p>
Bootstrap으로 네비게이션바, 버튼, 폼 을 추가했습니다.
table 태그를 사용했습니다.

</div>
</body>
</html>