<!DOTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-3.3.1.js"        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript">
  
</script>
</head>
<body>
      
<div class="container">
        <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="{% url 'home'%}">Home</a></li>
                <li role="presentation"><a href="{% url 'about'%}">About</a></li>
                
              </ul>  

<h1>입력한 텍스트 :</h1>
{{fulltext}}
<h1>단어 카운트 :</h1>
총 {{total}} 개
<br>

<table border="1" style="width:20%;text-align:center">
    <tr>
        <td>단어</td>
        <td>개수</td>
    </tr>
{% for word, countTotal in dictionary %}
<tr>
    <td>{{ word }}</td>
    <td>{{ countTotal }}</td>
 
</tr>
    


{% endfor %}
</table>
<br>

<a href="{% url 'home' %}" class="btn btn-warning">다시하기</a>
</div>
</body>
</html>